In [19]:
import requests
import pandas as pd

In [4]:
requests.get?

Signature: requests.get(url, params=None, **kwargs)
Docstring:
Sends a GET request.

:param url: URL for the new :class:`Request` object.
:param params: (optional) Dictionary, list of tuples or bytes to send
    in the query string for the :class:`Request`.
:param \*\*kwargs: Optional arguments that ``request`` takes.
:return: :class:`Response <Response>` object
:rtype: requests.Response
File:      c:\users\guido\miniconda3\envs\dataenv\lib\site-packages\requests\api.py
Type:      function

In [8]:
base_url = "https://api.luchtmeetnet.nl/open_api"
endpoint = "components"
full_url = f"{base_url}/{endpoint}"

r = requests.get(full_url)

In [17]:
json_response = r.json()
json_response.keys()

dict_keys(['pagination', 'data'])

In [18]:
json_data = json_response["data"]

In [23]:
df_components = pd.json_normalize(json_data)
df_components.head()

  formula            name.NL               name.EN
0   C10H8          Naftaleen           Naphthalene
1    C6H6            Benzeen               Benzene
2    C7H8            Tolueen               Toluene
3   C8H10             Xyleen                Xylene
4      CO  Koolmonoxide (CO)  Carbon monoxide (CO)

In [25]:
if r.status_code == 200:
    print("Success!")
    json_data = r.json()["data"]
    df_components = pd.json_normalize(json_data)
else:
    print("Failure!")
    print(r.status_code)
    print(r.text)

Success!

In [26]:
df_components.head()

  formula            name.NL               name.EN
0   C10H8          Naftaleen           Naphthalene
1    C6H6            Benzeen               Benzene
2    C7H8            Tolueen               Toluene
3   C8H10             Xyleen                Xylene
4      CO  Koolmonoxide (CO)  Carbon monoxide (CO)